html {
    min-height: 100%;
}

body {
    font-family: "Lato", sans-serif;
    background: -webkit-linear-gradient(top, #10b9f2, white);
    /* previously: top, #023af0, #10b9f2 */
}

span {
    color: rgba(255, 255, 255, 0.7);
    padding-left: 30px;
}

header {
    background: #1072f2;
    min-height: 80px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1072f2;
    opacity: 0.8;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    opacity: 0.8;
    display: block;
    transition: 0.3s;
}

.sidenav #brand {
    font-size: 28px;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#logo {
    position: relative;
    margin: auto;
    width: 80px;
    height: 80px;
    background-image: url(../images/logo.png);
    background-size: contain;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}